<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.oracle.intelagr.mapper.WaterMoniMapper">
	<resultMap type="WaterMoni" id="waterMoniMap">
		<id column="id" property="id" />
		<result column="monitorDate" property="monitorDate" />
		<result column="monitorPointCode" property="monitorPointCode" />
		<result column="ph" property="ph" />
		<result column="doValue" property="doValue" />
		<result column="codmn" property="codmn" />
		<result column="bod5" property="bod5" />
		<result column="nh3n" property="nh3n" />
		<result column="tp" property="tp" />
		<result column="codcr" property="codcr" />
		
	</resultMap>
 	<select id="select" resultMap="waterMoniMap" parameterType="java.util.Map">
 		select * from b_watermonitoring
 		<where>
 			<if test="s_monitorDate!=null and s_monitorDate!=''">
 				and monitorDate >= #{s_monitorDate}
 			</if>
 			<if test="e_monitorDate!=null and e_monitorDate!=''">
 				<![CDATA[
 					and monitorDate <= #{e_monitorDate}
 				]]>		
 			</if>
 			and deleteflag="N"
 		</where>
 		<if test="index!=null">
			limit #{index},#{pageSize}
		</if>
 	</select>
 	<select id="selectById" resultType="WaterMoni" parameterType="int">
 		select * from b_watermonitoring where id=#{id}
 	</select>
 	<insert id="insert" parameterType="WaterMoni" keyProperty="id" useGeneratedKeys="true">
		insert into b_watermonitoring values (default,#{monitorDate},#{monitorPointCode},#{ph},#{doValue},#{codmn},#{bod5},#{nh3n},#{tp},#{codcr},
		#{remark},'N',#{createUserId},#{createDate},#{updateUserId},#{updateDate})
	</insert>
	<select id="count" resultType="int" parameterType="java.util.Map">
 		select count(*) from b_watermonitoring 
 		<where>
 			<if test="s_monitorDate!=null and s_monitorDate!=''">
 				and monitorDate >= #{s_monitorDate}
 			</if>
 			<if test="e_monitorDate!=null and e_monitorDate!=''">
 				<![CDATA[
 					and monitorDate = #{e_monitorDate}
 				]]>		
 			</if>
 			and deleteflag="N"
 		</where>
 	</select>
 	<update id="update" parameterType="WaterMoni">
		update b_watermonitoring
		<set>
			<if test="monitorDate!=null ">
				monitorDate=#{monitorDate},
			</if>
			<if test="monitorPointCode!=null and monitorPointCode!=''">
				monitorPointCode=#{monitorPointCode},
			</if>
			<if test="ph!=null and ph!=''">
				ph=#{ph},
			</if>
			<if test="doValue!=null and doValue!=''">
				doValue=#{doValue},
			</if>
			<if test="codmn!=null and codmn!=''">
				codmn=#{codmn},
			</if>
			<if test="bod5!=null and bod5!=''">
				bod5=#{bod5},
			</if>
			<if test="nh3n!=null and nh3n!=''">
				nh3n=#{nh3n},
			</if>
			<if test="tp!=null and tp!=''">
				tp=#{tp},
			</if>
			<if test="codcr!=null and codcr!=''">
				codcr=#{codcr},
			</if>
			<if test="remark!=null and remark!=''">
				remark=#{remark},
			</if>
			<if test="deleteFlag!=null and deleteFlag!=''">
				deleteflag=#{deleteFlag},
			</if>
			<if test="updateUserId!=null and updateUserId!=''">
				updateUserId=#{updateUserId},
			</if>
			<if test="updateDate!=null ">
				updateDate=#{updateDate},
			</if>
		</set>
		where id=#{id}
	</update>

</mapper>